.wrapperDashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        'menu banner banner banner'
        'menu messageArea messageArea messageArea'
        'menu messageArea messageArea messageArea';
    height: 100vh;
}

.banner {
    grid-area: banner;
    display: flex;
    align-items: center;
    background-color: var(--colorBackground);
    box-shadow: 0px 1.4px 4px var(--colorLabel);
    border-radius: 0.3rem;
    margin: 0.5rem 0.3rem;
}

.banner > h3 {
    margin: 0;
    margin-left: 1.5rem;
}

.menu {
    grid-area: menu;
    background-color: var(--colorBackground);
    box-shadow: 0px 1.4px 4px var(--colorLabel);
    border-radius: 0.3rem;
    margin: 0.5rem 0.3rem;
}

.messageArea {
    grid-area: messageArea;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--colorBackground);
    box-shadow: 0px 1.4px 4px var(--colorLabel);
    border-radius: 0.3rem;
    margin: 0.5rem 0.3rem;
}
